@page "/todo"
@using OurFirstComponent.Shared
<h3>Todo @todos.Count(todo => !todo.IsDone)</h3>

 <ul>
    @foreach (var item in todos)
    { 
        <li>
            <input type="checkbox" @bind="item.IsDone" />
            @item.Title"
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo"/>
<button @onclick="AddTodo">Add todo</button>

@code {
    public List<ToDo> todos = new List<ToDo>();
    private string? newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new ToDo { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}